# Node.js
node_modules/
npm-debug.log

# HTML (if you have an IDE or editor to generate files)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# HTML source files
package.json
dist/
build/
bundle.js
bundle.js.map
